.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 30px;
    align-items: center;
    gap: 20px;
    
    img{
        max-width:200px;
        width: 100%;

    }
    h1{
        font-size: 18px;
        &:hover{
            transform: scale(1,2);
            color: lime;
        }
    }
}

